*{
    margin:0;
    padding:0;
}
.container{
    width:100%;
    position:relative;
}
.nav{
    width:1250px;
    height:120px;
    margin:0 auto;
    border-bottom:3px solid #2D8800;
    a{
        display:inline-block;
        margin-top:30px;
    }
    
}
.bav{
    margin:0 auto;
    display:block;
    width:1250px;
    height:625px;
}
.mav{
    width:480px;
    height:580px;
    background:#f7f8f8;
    border:1px solid #dcdddd;
    position:absolute;
    right:174px;
    top:160px;
    padding:0 45px;
    font-size:14px;
    h3{
        margin-top:18px;
    }
    em{
        position:absolute;
        left:400px;
        top:65px;
        font-size:30px;
        cursor:pointer;
        padding:5px;
    }
    input{
        text-indent:20px;
        width:380px;
        height:34px;
        outline:none;
        border-radius:5px;
        
    }
    label{
        display:block;
        color:red;
        background:#BA99B8;
        height:30px;
        text-align:center;
        line-height:30px;
        width:150px;
        border-radius:5px;
    }
    b{
        display:inline-block;
        width:260px;
        height:35px;
        text-align:center;
        line-height:35px;
        margin-bottom:28px;
        background:#9ece22;        
        color:#fff;
        margin-top:45px;
        border-radius:5px;
        cursor:pointer;
    }
    a{
        font-weight:600;
        text-decoration:none;
        display:inline-block;
        width:100px;;
        height:36px;
        line-height:36px;
        text-align:center;
        background:#e4e4e4;
        margin-left:22px;
        border-radius:5px;
        color:#479202;
        
    }
    ul{
        p{
          padding-top:20px;  
          border-top:1px dashed #ddd;
        }
        li{
            list-style-type:none;
            float:left;
            padding-right:20px;
            border-right:1px solid #dcdddd;
            margin-top:20px;
        }
    }
    
}
