
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul,ol{
    list-style:none;
}
a{
    text-decoration:none;
    color:#606060;
}
body{
    width:100%;
}
.nav{
    width:1519px;
    height:100px;
}
.nav a{
    display:block;
    height:100px;
    img{
        width:100%;
        height:100%;
    }
}
.fuwu{
    width:110px;
    height:130px;
    border:1px solid #000;
}
.warp{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
    position:fixed;
    left:0;
    top:0;
}
.top-div{
    width:1210px;
    height:30px;
    background:#f5f5f5;
    font-size:12px;
    margin:0 auto;
    position:relative;
    .top-ul{
        float:left;
        line-height:30px;
       
        li{
            float:left;
            padding: 0 5px;
            position:relative;    
        }           
            .changsha{
                display:none;
                width:380px;
                height:180px;
                position:absolute;
                left:89px;
                top:25px;
                border:1px solid #000;
                z-index:1;
                
                li{
                    float:left;
                }
                button{
                   position:absolute;
                   bottom:5px;
                   left:20px; 
                }
            }
        
        .hover{
            &:hover{
                color:limegreen;
            }
        }
    }
    .top-ol{
        float:right;
        line-height:30px;
        li{
           float:left; 
           padding:0 5px;
        }
        .hover{
            &:hover{
                color:limegreen;
            }
        }
    }
}
.top1-div{
    width:100%;
    height:30px;
    background:#f5f5f5;
}
.top2-div{
    width:1210px;
    height:80px;
    margin:36px auto;
    div{
        display:inline-block;
    }
    .a-div{
        margin-right:58px;
    }
    .b-div{
        width:635px;
        display:inline-block;
        margin-right:135px;
        .ipt{
            width:590px;
            height:42px;
            border:2px solid #c20001;
            position:relative;
            float:left;
            i{
                font-size:16px;
                display:inline-block;
                width:30px;
                text-align:center;
                line-height:42px;
                float:left;
            }
            .opt{
                display:inline-block;
                width:490px;
                height:39px;  
                float:left; 
                border:0;
                outline:none;
            }
            a{
                display:inline-block;
                background:red;
                color:#fff;
                width:70px;
                height:42px;
                font-size:18px;
                text-align:center;
                line-height:38px;
                float:left;
            }
            
        }
        .s-div{
            text-align:center;
            height:42px;
            width:40px; 
            a{
                display:inline-block;           
                font-size:14px;
                margin-top:10px;
            }            
        }     
        .u-div{
            font-size:12px;
            a{
                margin-right:10px;
            }
        }
    }
}
.top3-div{
    width:1210px;
    height:44px;
    margin:0 auto;
    
    h3{
        float:left;
        font-size:14px;
        padding:16px 57px;
        color:#fff;
        background:#2d8800;
    }
    ul{
        float:left;
        margin-left:10px;
        li{
            float:left;
            margin:15px 11px 11px;
            a{
                font-size:14px;
                color:#383733;
                &:hover{
                    color:#2D8800;
                }
            }
        }
    }
    .gouwu3{
        float:right;
        position:relative;
        .gouwu{
            padding:13px 20px 11px;
            font-size:12px;
            background:#ddd;
            i{
                margin:0 5px;
            }
            
        }
        .gouwu2{
            width:300px;
            height:150px;
            border:1px solid #000;
            position:absolute;
            right:0;
            top:44px;
            span{
                display:block;
                margin:10px 100px;
            }
            p{
                font-size:12px;
                margin-left:50px;
                a{
                    margin:20px 0 0 50px;
                    display:block;
                    color:#C20001;
                }
            }
        }
    }    
}
.scrollImg{
    width:1519px;
    height:450px;
    position:relative;
    
    .imgs{
        border-top:3px solid #2D8800;
        li{
            width:1519px;
            height:450px;
            position:absolute;
            a{
                img{
                  position:absolute;
                  top:0;
                  left:353px;  
                }
            }
        }
        
    }
    .imgnav{
        height:20px;
        position:absolute;
        bottom:20px;
        left:600px;
        li{
            width:20px;
            height:20px;
            border-radius:50%;
            background: rgba(241,200,180, 0.6);
            float:left;
            margin-right:10px;
            &.active{
               background:#000; 
            }
        }
    }
    #btn{
        position:absolute;
        width:800px;
        height:60px;
        left:353px;
        top:210px;
        span{
            display:inline-block;
            background:rgba(0,0,0,0.6);
            width:40px;
            height:60px;
            text-align:center;
            line-height:60px;
            color:#fff; 
            &:first-of-type{
                float:left;
            }
            &:last-of-type{
                float:right;
            }  
        }


    }
}
.banner{
    position:relative;
}
.banner_r{
    width:212px;
    height:450px;
    position:absolute;
    left:1153px;
    top:3px;
    overflow:hidden;
    background:#fff;
    .tab-ul{
        width:212px;
        height:30px;      
        li{
            font-size:12px;
            color:#5a5a5a;
            padding:9px 12px;
            background:#ddd;
            float:left;
            &.hoaer{
                background:#fff;
                color:#2d8703;
                border-bottom:2px solid #2d8703;
                
            }
        }
    }
    .tab-ol{
        height:87px;
        padding-left:10px;
        ol{
            width:190px;
            height:85px;
            li{
                margin-top:5px;
                a{
                    color:#5c5c5c;
                    font-size:12px;
                }
            }
        }
        
    }
    .list-ul{
        width:212px;
        height:180px;
        margin:0 auto;
        li{
            float:left;
            display:inline-block;
            width:68px;
            a{
                display:block;
                width:68px;
                border-right:1px solid #ddd;
                border-top:1px solid #ddd;
            }
        }
    }
    div{
        width:212px;
        img{
            width:212px;
        }
    }
}
.banner_l{
    width:200px;
    height:440px;
    background:#2D8800;
    color:#bedaaa;
    padding:10px 0 0 0;
    position:absolute;
    left:153px;
    top:3px;
    .a_li{      
        h3{
            padding:13px 20px;
            &.hover{
                background:#fff;
                color:#000;
                a{
                    color:#000; 
                }   
            }
            a{
                margin-left:18px;
                font-size:13px;
                color:#fff;
            }
        }
        .a_div{
            display:none;
            background:#fff;
            width:1000px;
            height:450px;
            position:absolute;
            left:200px;
            top:0;
            div{
                display:inline-block;
                height:26px;
                width:966px;
                padding:17px;
                h4{
                    color:#000;
                    display:inline-block;
                    float:left;
                    font-size:16px;
                    width:125px;
                    text-align:right;
                    margin-right:13px;
                }
                .a_ul{
                    float:left;
                    border-bottom:1px solid #ddd;
                    li{
                        float:left;
                        font-size:14px;
                        padding:18px 0 ;
                        a{
                            border-left:1px solid #ddd;
                            display:inline-block;
                            height:14px;
                            padding:0 11px ;
                            color:#757575;
                            &.hower{
                                color:red;
                            }
                            &:hover{
                                color:#2D8800;
                            }
                        }
                        
                    }
                } 
            }
            
        }
    }
}
.show-banner{
    display:none;
    width:100%;
    height:70px;
    background:rgba(225,225,225,0.8);
    padding:15px 0 ;
    z-index:999;
    position:fixed;
    left:0;
    top:0;
    img{
        display:inline-block;
        margin: 0 150px;    
    }
    div{
        
        margin-bottom:20px;
        display:inline-block;
        width:600px;
        height:40px;
        border:2px solid #c20000;
        i{
          display:inline-block;  
          float:left;
          width:50px;
          color:#000;
          text-align:center;
          line-height:40px;
        }
        input{
           display:inline-block;  
           float:left;
           border:0;
           width:450px;
           height:38px;
           outline:none;
        }
        a{
           display:inline-block;  
           float:left;
           width:100px;
           height:40px;
           background:#c20000;
           text-align:center;
          line-height:40px;
        }
        
    }
}
.one{
    width:1210px;
    height:370px;
    margin:0 auto;
    background:#fff;
    position:relative;
    .lrbtn{
        position:absolute;
        left:242px;
        top:205px;
        width:968px;
        height:40px;
        text-align:center;
        line-height:40px;
        font-size:40px;
        .first{
            display:inline-block;
            background:rgba(0,0,0,0.5);
            float:left;
            width:30px;
            height:40px;
            
        }
        .second{
            display:inline-block;
            background:rgba(0,0,0,0.5);
            width:30px;
            height:40px;
            float:right;
        }
    }
    h3{
       height:50px;
       font-size:18px;
       color:#2a3f3a;
       line-height:50px; 
    }
    .odiv{
        border-top:2px solid #2D8703;
        height:320px;
        width:1210px;
        position:relative;
        z-index:0;
        overflow:hidden;
        .ctn{
            display:inline-block;
            width:242px;
            position:absolute;
            z-index:1;
            img{
                width:242px; 
            }
        }
        ul{
            z-index:0;
            display:inline-block;
            width:2270px;
            height:320px;
            position:absolute;
            overflow:hidden;
            left:245px;
            top:0;
            li{
                width:240px;
                height:320px;
                display:inline-block;
                border-right:4px solid #ddd;
                float:left;
                div{
                    text-align:center;
                    font-size:16px;
                    .pp{
                        background:#f1f7f5;
                        width:240px;
                        height:100px;
                        padding:10px  0;
                    }                     
                    img{
                        margin:15px 0 ;
                        width:180px;
                        height:180px;
                    }
                    .p1{
                        background:#f1f7f5;
                    }
                    .p2{
                        padding:0 17px;
                        margin-top:30px;
                        background:#f1f7f5;
                        span{
                            float:left;
                            color:red;     
                        }
                        .btn{
                            display:inline-block;
                            float:right;
                            width:80px;
                            height:26px;
                            text-align:center;
                            background:#fb8809;
                            line-height:26px;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
}

.LoutiNav{
    width:90px;
    height:540px;
    background:rgba(255,255,255,0.8);
    position:fixed;
    left:63px;
    top:120px;
    display:none;
    li{
        text-align:center;
        border-bottom:1px solid #ddd;
        &.cuur{
            background:#3da601;
            border-radius:10px;
            a{
                color:#fff;
            }
        }
        &.cuus{
            background:#3da601;
            border-radius:0;
            a{
                color:#fff;
            }
        }
        a{
            font-size:16px;
            line-height:48px;   
        }
    }
}
.Louti{
    
    width:100%;
    .LoutiA{
        width:1210px;
        height:465px;
        margin:0 auto;
        h3{
            font-size:18px;
            border-bottom:2px solid #3da601;
            height:52px;
            line-height:52px;
           
              
        }
        ul{
            display:inline-block;
            
            li{
                float:left;
                a{
                    img{
                        display:inline-block;
                        float:left;
                        
                    }
                    
                }
            }
        }
        
    }
    .LoutiB{
        width:1210px;
        margin:0 auto; 
        height:510px;
        position:relative;
        overflow:hidden;
        h3{
            font-size:18px;
            border-bottom:2px solid #3da601;
            height:52px;
            line-height:52px;
            color:#3f333d;   
        }
        .Bbul{
            display:inline-block;
            width:2420px;
            position:absolute;
            li{
                float:left;
                overflow:hidden;
                img{
                    position:relative;
                }
            }
            .firstOf{              
                width:484px;
                img{
                    width:494px;
                }
            }
            .otherOf{ 
                width:242px;   
                img{
                    width:252px;
                }             
            }
        }
        ol{
            position:absolute;
            left:0;
            top:160px;
            height:40px;
            width:1210px;
            li{
                background:rgba(0,0,0,0.5);
                text-align:center;
                line-height:40px;
                
            }
            .first{
                float:left;
            }
            .second{
                float:right;
            }
        }
        .Bul{
            position:absolute;
            left:0;
            top:400px;
            li{
                float:left;
                img{
                    display:inline-block;
                }
            }
        }
        
    }
    .LoutiC{
        width:1210px;
        margin:0 auto;
        height:681px;
        h3{
            font-size:18px;
            border-bottom:2px solid #7ca1e5;
            height:55px;
            line-height:55px;
            color:#7ca1e5;
            span:nth-of-type(1){
                margin-right:180px;
            }
            span:nth-of-type(2),span:nth-of-type(3){
                padding:15px 8px;
                margin-right:15px;
                
            }
            .shover{
                border-bottom:2px solid #7ca1e5;
            }
            
        }
        .bigdiv{
            height:626px;
            position:relative;
            .lefta{
                display:inline-block;
                float:left;
                width:242px;
                height:505px;
                img{
                    width:242px;
                    height:626px;
                }
            }
            ul{
                position:absolute;
                width:966px;
                height:626px;
                display:inline-block;
                left:242px;
                top:0;
                float:left;
                &.unone{
                    display:none;
                }
                li{
                    float:left;
                    width:240px;
                    height:312px;
                    border-bottom:1px solid #000;
                    border-right:1px solid #000;
                    a{
                        img{
                            width:225px;
                            height:225px;
                            margin:8px 8px;
                        }
                        img:hover{
                            left:100px;
                        }
                    }
                    p{
                        font-size:14px;
                        margin:14px 0 ;
                        text-indent:32px;
                    }
                    span{
                        color:red;
                        text-indent:32px;
                         display:block;
                    }
                }  
                
            }
            ol{
                display:inline-block;
                width:966px;
                height:626px;
                position:absolute;
                left:242px;
                top:0;
                li{
                    float:left;
                    width:240px;
                    height:312px;
                    border-bottom:1px solid #000;
                    border-right:1px solid #000;
                    a{
                        img{
                            width:225px;
                            height:225px;
                            margin:8px 8px;
                        }
                    }
                    p{
                        font-size:14px;
                        margin:14px 0 ;
                        text-indent:32px;
                    }
                    span{
                        color:red;
                        display:block;
                        text-indent:32px;
                    }
                }
            }
            
        }
        
    }
    .LoutiD{
        width:1210px;
        margin:0 auto;
    }
    .LoutiE{
        width:1210px;
        margin:0 auto;
    }
    .LoutiF{
        width:1210px; 
        margin:0 auto;
    }
    .LoutiG{
        width:1210px;
        margin:0 auto;
    }
    .LoutiH{
        width:1210px;
        margin:0 auto;
    }
    .LoutiI{
        width:1210px; 
        margin:0 auto;
    }
    .LoutiJ{
        width:1210px; 
        margin:0 auto;
    }
    .LoutiK{
        width:1210px;
        margin:0 auto;
    }
}
.divfoot{
    width:100%;
    .footer{
        width:1210px;
        height:730px;
        margin:0 auto;
        border-top:2px solid #3da601;
        .sec{
            width:240px;
            height:365px;
            border-bottom:1px solid #ddd;
            border-right:1px solid #ddd;
            float:left;
            h3{
                font-size:16px;
                margin-left:89px;
                color:#82665a; 
                line-height:75px;
                font-weight:600;
            }
            .pic{
                height:120px;
                img{
                    display:block;
                    margin:30px auto;
                }
                
            }
            .clearfix{
                
                li{
                    float:left;
                    font-size:12px;
                    margin-bottom:14px;
                    width:80px;
                    margin-left:30px;
                }
            }
        }
    }
}
.foo{
    width:1518px;
    height:250px;
    background:#f7f7f7;
    border-top:1px solid #e8e8e8;
    border-bottom:2px solid #64b535;
    ul{
       width:1200px;
       height:250px;
       margin:0 auto;
        li{
            margin-left:50px;
            margin-top:20px;
            
            h3{
                font-weight:600;
            }
            font-size:16px;
            width:150px;
            float:left;
            margin-right:5px;
            a{
                margin-top:20px;
                display:block;
            }
        }
    }
}
.ende{
    height:295px;
    width:1518px;
    ul{
        width:820px;
        height:80px;
        margin:30px auto;
        li{
            float:left;
            font-size:14px;
            padding-left:20px;
            border-right:1px solid #ba99b8;
            a{
                margin-right:20px; 
            }
        }
    }
    img{
        display:inline-block;
        float:left;
        margin-left:350px;
    }
    div{
        float:left;
        font-size:12px;       
        span{
            display:block;
            color:#919ec1;
        }
    }    
}
.clear:after{
    content:"";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
